In [6]:
#TASK1

In [7]:
#STRING TO LOWER CASE

In [9]:
x="ABCDEFGH"
x.lower()

'abcdefgh'

In [10]:
#odd IV TO LOWER CASE

In [15]:
x="ABCDEFGH"
x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()+x[6]+x[7].lower()

'AbCdEfGh'

In [13]:
#even IV TO LOWER CASE

In [17]:
x="ABCDEFGH"
x[0].lower()+x[1]+x[2].lower()+x[3]+x[4].lower()+x[5]+x[6].lower()+x[7]

'aBcDeFgH'

In [18]:
#ODD IV TO UPPER CASE

In [20]:
x="abcdefgh"
x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()+x[6]+x[7].upper()

'aBcDeFgH'

In [ ]:
#EVEN IV TO UPPER CASE

In [22]:
x="abcdefgh"
x[0].upper()+x[1]+x[2].upper()+x[3]+x[4].upper()+x[5]+x[6].upper()+x[7]

'AbCdEfGh'

In [23]:
# BIO DATA

In [32]:
BIODATA={"NAME":"DOREMON","AGE":15,"SEX":"MALE","PHNO":9876543210,"FATHERNAME":"TOBAKO","MOTHERSNAME":"SUZUKI"}
print(BIODATA)

{'NAME': 'DOREMON', 'AGE': 15, 'SEX': 'MALE', 'PHNO': 9876543210, 'FATHERNAME': 'TOBAKO', 'MOTHERSNAME': 'SUZUKI'}

In [33]:
#get()

In [39]:
x="name1.@gmail.com,name2.@gmail.com,name3@gmail.com"
x.split("@gmail.com")

['name1.', ',name2.', ',name3', '']

In [40]:
# new string

In [42]:
x="mynameisraasisowmya"
len(x)
x[8:13]

'raasi'

In [ ]:
# add new string

In [43]:
x="mynameis"
y="raasisowmya"

In [44]:
x="mynameis{}"
x.format(y)

'mynameisraasisowmya'

In [45]:
#remove 1st case of alphabets

In [51]:
x="abcdefghijklmnopqrstuvwxyz"
x[1:]

'bcdefghijklmnopqrstuvwxyz'

In [1]:
#task 2

In [2]:
#multipication and division

In [3]:
x=int(input("type a number: "))
operator=input("type a operator *,/: ")
y=int(input("type another number: "))
if operator=="*":
    print(x*y)
elif operator=="/":
    print(x/y)
else:
    print("not specified a value")

type a number: 2
type a operator *,/: /
type another number: 8
0.25

In [14]:
#even index value characters
x="Task2 Assignment"
print(x[0::2])

Ts2Asgmn

In [18]:
x="Task2 Assignment"
for y in range(0,len(x)):
    if y%2==0:
        print(x[y],end="")

Ts2Asgmn

In [11]:
#odd index value characters

In [12]:
x="Task2 Assignment"
print(x[1::2])

ak sinet

In [20]:
x="Task2 Assignment"
for y in range(0,len(x)):
    if y%2==1:
        print(x[y],end="")

ak sinet

In [ ]:
# sum even num or difference odd num

In [21]:
x=int(input("enter a value: "))
y=int(input("enter a value: "))

if x%2==0 and y%2==0:
        print(x+y)
else:
        print(x-y)

enter a value: 4
enter a value: 8
12

In [23]:
#print even index in uppercase and odd index as char

In [26]:
x="Task2 Assignment"
strin=[]
for y in range(0,len(x)):
        if y%2==0:
            strin=strin.append(y.upper())
        print(strin)

None
None

AttributeError: 'NoneType' object has no attribute 'append'

In [4]:
#print true if divisible by 5

In [6]:
x=int(input("enter a value: "))
if x/5:
    print("true")
else:
    print("false")

enter a value: 45
true

In [ ]:
#product if >1000 or do sum

In [7]:
x=int(input("enter a value: "))
y=int(input("enter a value: "))
z=0
while x>1000 and y>1000:
    print(x*y)
else:
    print(x+y)
    z=z+1

enter a value: 44
enter a value: 55
99

In [8]:
#print first middle and last characters

In [9]:
x=input("enter a word: ")
y=input("enter a word: ")
x[0]+y[0]+x[2]+y[2]+x[-1]+y[-1]

enter a word: python
enter a word: jupyter

'pjtpnr'

In [10]:
#print input names

In [11]:
x,y,z=input("enter three names: ").split()
print("name1:",x)
print("name2:",y)
print("name3:",z)

enter three names: raasi blessy raji
name1: raasi
name2: blessy
name3: raji

In [12]:
#replace 1st character

In [13]:
x=input("enter a name: ")
x[0]+x[1]+x[2:].replace("a","@")

enter a name: malayalam

'mal@y@l@m'

In [14]:
#replacing

In [1]:
x=input("enter a name: ")
z="ing"
for y in range(0,1):
    if y>=3:   
        print(x+"ing")
    elif x[-3:]==z:
        print(x.replace("ing","ly"))
    elif y<3:
        print(x)

enter a name: going
goly

In [2]:
#any number or sum of num is 10 true

In [12]:
x=input("enter a value: ")
y=input("enter a value: ")
print("true") if x or y or x+y==10 else print("false")

enter a value: 10
enter a value: 4
true

In [13]:
#mutiply is greater than last given num

In [15]:
x=int(input("enter a value: "))
y=int(input("enter a value: "))
z=int(input("enter a value: "))
if x*y>z:
    print("true")
else:
    print("false")

enter a value: 4
enter a value: 3
enter a value: 2
true

In [16]:
#true if lenght of two num equal

In [17]:
x=input("enter a string: ")
y=input("enter a string: ")
for z in range(0,1):
    if len(x)==len(y):
        print("true")
    else:
        print("false")

enter a string: raasi
enter a string: raaji
true

In [ ]:
#15th question?????

In [20]:
#plurals

In [19]:
x=input("enter a word: ")
y="s"
if x[-1]==y:
    print("Its a prural")
else:
    print("Its not a prural")

enter a word: flowers
Its a prural

In [ ]:
#break time

In [5]:
x=int(input("enter age: "))
if x>=18:
    print("not a break time")
elif x<18:
    print("break time")

enter age: 15
break time

In [3]:
#identify the relation

In [4]:
y={"shiva":"father","latha":"mother","tarun":"brother","kavitha":"sister"}
y.get("latha")

'mother'

In [1]:
#vowels and consonants

In [2]:
x=input("enter a word: ")
vowels=["a","e","i","o","u"]
v=0
x.lower()
for y in x:
    if y in vowels:
        v+=1
        print("no of vowels: ",y)
    else:
        print("no of consonants: ",y)

enter a word: raasi
no of consonants:  r
no of vowels:  a
no of vowels:  a
no of consonants:  s
no of vowels:  i

In [22]:
#calculator

In [24]:
x=int(input("enter first number: "))
operator=input("enter oparator +,-*,/,%,**: ")
y=int(input("enter second number: "))
if operator=="+":
    print(x+y)
elif operator=="-":
    print(x-y)
elif operator=="*":
    print(x*y)
elif operator=="/":
    print(x/y)
elif operator=="%":
    print(x%y)
elif operator=="**":
    print(x**y)

enter first number: 4
enter oparator +,-*,/,%,**: **
enter second number: 2
16

In [21]:
#TASK3

In [ ]:
#print 0 to 6 withx=[0,1,2,3,4,5,6]

In [12]:
x=[0,1,2,3,4,5,6]
for y in x:
    if y==3:
        continue
    if y==6:
        continue
    print(y)

0
1
2
4
5

In [5]:
#sum of 1 to given number

In [20]:
num=int(input("type a number :"))
i=1
sum=0
while(i<=num):
    sum+=i
    i+=1
print("sum=",sum)

type a number :257
sum= 33153

In [7]:
x=int(input("type a number"))
for y in range(1,11):
    print(x,"*",y,"=",x*y)

type a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
#length of given number

In [12]:
x=int(input("enter a value: "))
y=0
while x>0:
    x=x//10  
    y=y+1
print(y)

enter a value: 554665
6

In [ ]:
#entering guess number

In [3]:
x=int(input("enter a value: "))
if x<=467:
    print("please enter correct value")
elif x>=465:
    print("please enter correct value")
else:
    print("your guess correct")

enter a value: 123
please enter correct value

In [4]:
#multiples of 3 an 5 as fizz and buzz

In [5]:
for y in range(1,61):
    if y%3==0:
        print("Fizz")
    if y%5==0:
        print("Buzz")
    if y%3==0 and y%5==0:
        print("FizzBuzz")
    else:
        print(y)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizz
Buzz
FizzBuzz
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizz
Buzz
FizzBuzz
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizz
Buzz
FizzBuzz
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
Fizz
Buzz
FizzBuzz

In [1]:
#no of alphabets and no of numbers

In [5]:
x=input("enter a word: ")
l=0
d=0
for y in x:
    if y.isalpha():
        l+=1
    else:
        if y.isnumeric():
            d+=1  
print("letters-: ",l)
print("digits-: ",d)

enter a word: raasi1234sowmya
letters-:  11
digits-:  4

In [6]:
#validatin of password

In [7]:
password=input("enter password: ")
x="!,@,#,$,%,^,&,* "
if len(password)>16 or len(password)<6:
        print("maximum length of password is 12 and minimum length is 6")
else:
        print("ok good")
if password.isalnum==password or password.upper()==password or password.lower()==password or x==password:
    print("password must have atleast one (a-z), one(A-Z),one(0-9)")
elif password.isalnum==password and password.upper()==password or password.lower()==password or x==password: 
    print("password must have atleast one (a-z), one(A-Z),one(0-9)")
elif  password.isalnum==password and password.upper()==password and password.lower()==password and x==password: 
    print("password must have atleast one (a-z), one(A-Z),one(0-9)")
else:
    print("strong password")

enter password: Jonny*9
ok good
strong password

In [8]:
#reverse given word

In [11]:
x=input("enter a word: ")
y=""
length=len(x)-1
while length>=0:
    y+=x[length]
    length-=1
print(y)

enter a word: raasi
isaar

In [13]:
#average for 10 numbers

In [14]:
x=int(input("enter elements: "))
z=0
for y in range(0,10):
    numbers=int(input("enter any number: "))
    z+=numbers
    avg=z/x
print("average of given elements: ",avg)

enter elements: 10
enter any number: 1
enter any number: 2
enter any number: 3
enter any number: 4
enter any number: 5
enter any number: 6
enter any number: 7
enter any number: 8
enter any number: 9
enter any number: 10
average of given elements:  5.5

In [ ]:
# quit using q qnd sum and product

In [22]:
count=0
thesum=0
avg=0
product=0
while True:
    num=input("enter value: and pl press q to quit")
    print(num)
    if num=='q':
        break
    thesum+=int(num)
    count+=1
    avg=thesum/count
    product=thesum*count
print("average of given elements: ",avg,"please press q to quit")
print("product of given number: ",product,"please press q to quit")
exit=True

enter value: and pl press q to quit2
2
enter value: and pl press q to quit4
4
enter value: and pl press q to quit2
2
enter value: and pl press q to quitq
q
average of given elements:  2.6666666666666665 please press q to quit
product of given number:  24 please press q to quit

In [6]:
#print letters and digits

In [9]:
x=input("enter string: ")
str=""
stt=""
for y in x:
    if y.isalpha():
        str=str+y
    else:
        if y.isnumeric():
            stt=stt+y 
print("letters-: ",str)
print("digits-: ",stt)

enter string: raasi sowmya0987
letters-:  raasisowmya
digits-:  0987

In [13]:
#print all even numbers bet 0 to 10

In [16]:
enum=0
for y in range(1,11):
    if y%2==0:
        enum=enum+y
        print(enum)

2
6
12
20
30

In [17]:
# print till 0 from given number

In [19]:
x=int(input("enter a value: "))
for y in range(x,-1,-1):
    print(y)

enter a value: 9
9
8
7
6
5
4
3
2
1
0

In [2]:
#task 4

In [3]:
#print list using loop

In [7]:
x=[1,2,3,4,5,6,]
for y in x:
    print(y)

1
2
3
4
5
6

In [8]:
#print list in loop

In [9]:
x=[1,2,3]
y=[4,5,6]
list1=x+y
for z in x and y:
    x.append(z)
print(list1)

[1, 2, 3, 4, 5, 6]

In [1]:
#remove all odd index values and print even index values

In [2]:
x=[1,2,3,4,5,6,7,8,9,10]
for i in x:
    if i!=1:
        x.remove(i)
print(x)

[1, 3, 5, 7, 9]

In [3]:
#sum and product of a list

In [8]:
x=int(input("enter no of values: "))
y=[]
for i in range(x):
    m=int(input("enter values: "))
    y.append(m)
z=0
for i in y:
    z=z+i
print("sum: ",z)
n=1
for i in y:
    n*=i
print("product: ",n)

enter no of values: 3
enter values: 4
enter values: 5
enter values: 6
sum:  15
product:  120

In [4]:
#maximum minimum values in list

In [1]:
x=int(input("enter numbers: "))
y=[]
for z in range(x):
    n=int(input("enter value: "))
    y.append(n)
print(y)
print("maximun: ",max(y))
print("minimum: ",min(y))

enter numbers: 5
enter value: 25
enter value: 357
enter value: 1599
enter value: 28
enter value: 45
[25, 357, 1599, 28, 45]
maximun:  1599
minimum:  25

In [7]:
x=[2055,60,200,1950,375,425]
for i in range(0,len(x)):
    if i==0:
        x.sort()
        x.sort(reverse=True)
print("minimum: ",x[-1])
print("maximum: ",x[0])

minimum:  60
maximum:  2055

In [9]:
#remove 0 4 and 5 elements

In [10]:
x=["red","green","white","black","pink","yellow"]
del(x[0]) 
del(x[4:])
print(x)

['green', 'white', 'black', 'pink']

In [11]:
#list of characters into string

In [12]:
x=[1,2,3,4,5,6,7,"hello"]
str(x)

"[1, 2, 3, 4, 5, 6, 7, 'hello']"

In [13]:
#avg of list

In [14]:
z=[]
x=int(input("enter no of values: "))
for i in range(x):
    m=int(input("enter values: "))
    z.append(m)
print(z)
addition=sum(z)
avg=addition/x
print(avg)

enter no of values: 2
enter values: 48
enter values: 62
[48, 62]
55.0

In [17]:
#print count integer

In [16]:
n=int(input("enter: "))
count=0
while n!=0:
    n=n//10
    count+=1
print("no of digits: ")
print(count)

enter: 358978478
no of digits:
9

In [18]:
#print reverse of list

In [19]:
x=[40,"ijk",50,9.4,"abc"]
y=[]
for i in range(1,len(x)+1):
    y.append(x[-i])
print(y)

['abc', 9.4, 50, 'ijk', 40]

In [20]:
#convert string to tuple

In [21]:
x="python3.2"
y=tuple(x)
print(y)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '2')